body{
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #004a99;
    color: white;
    padding: 20px, 40px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 2.5em;
}

header p{
    margin: 5px 0 0 0;
    font-style: italic;
}

nav{
    background-color: #333;
    padding: 10px, 40px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.enlIndex{
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}



#bienvenida{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#bienvenida h2{
    color: #004a99;
    border-bottom: 2px solid #004a99;
    padding-bottom: 5px;
}

#bienvenida p{
    line-height: 1.6;
    font-size: 1.1em;
}

#proyectos-destacados{
    margin-top: 30px;
}

#productos-destacados h3{
    color: #333;
}

#productos-destacados div{
    background-color: #eee;
    border: 1px dashed #ccc;
    padding: 40px;
    text-align: center;
    color: #777;
}

footer{
    background-color: #222;
    color: #aaa;
    padding: 20px 40px;
    text-align: center;
    margin-top: 20px;
}

.p1foo{
    margin: 0;
}

.p2foo{
    margin: 5px 0 0 0;
    font-size: 0.9em;
}

.activo{
   color: white;
   text-decoration: none;
   font-weight:  bold;
   font-size: 1.1em; 
}

.caja-contenido{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.caja-contenido h2{
    color: #004a99;
    border-bottom: 2px solid #004a99;
    padding-bottom: 5px;
}

.caja-contenido p{
    line-height: 1.6;
}

.caja-contenido h3{
    color: #555;
    margin-top: 30px;
}

.lista-habilidades{
    list-style: square;
    padding-left: 20px;
}

footer{
    background-color:  #222;
    color: #aaa;
    padding: 20px 40px;
    text-align: center;
    margin-top: 20px;
}

footer p{
    margin: 0;
    line-height: 1.6;
}

.copy-peq{
    margin: 5px 0 0 0;
    font-size: 0.9em;
}


